---
import { Image } from "astro:assets";
import * as prismic from "@prismicio/client";
import { profiles } from "../../prismic.js"
import Layout from "../../components/Layout.astro"
import Section from "../../components/Section.astro"
import Stat from "../../components/Stat.astro"
import StatContainer from "../../components/StatContainer.astro"
import numeral from "numeral"
import generateSrcSets from "../../utils/generateSrcSets.js";
import getImageUrlFromSize from "../../utils/getImageUrlFromSize.js";

export async function getStaticPaths() {
  return profiles.map((profile) => {
    return { params: { slug: profile.uid }, props: { profile} };
  });
}

const {
  profile: { data },
} = Astro.props;

const intro = prismic.asHTML(data.description, (doc) => {
  return getUrl(doc.id);
});

const image = data.logo
const srcSets =
  !!image &&
  !!image.url &&
  generateSrcSets(
    image.url,
      [
  { w: 400, h: 400 },
  { w: 300, h: 300 },
  { w: 200, h: 200 },
  { w: 150, h: 150 },
  { w: 100, h: 100 }
      ],
    true,
  );
---
<Layout>
  <Section>
    <div class="grid grid-cols-2 bg-gray-100 items-center justify-between p-0 m-0">
<h1 class="mx-auto mb-3 text-center justify-self-start">{data.name}</h1>
  {
    !!image && !!image.url && (
      <div class="max-w-[300px] justify-self-end m-0">
        <Image
          alt={!!image.alt ? image.alt : ""}
        class="max-w-[200px]"
          loading="lazy"
          sizes="(max-width: 640px) 95vw, (min-width: 768px) 44vw, (min-width: 1252px) 552px"
          src={getImageUrlFromSize(image.url, 576, 432, true)}
          srcSet={srcSets}
          width="300"
          height="300"
        />
      </div>
    )
  }
      </div>
  </Section>
  <Section title={data.headline}>
  <Fragment set:html={intro} />
  </Section>
  <Section title="Lending Guidelines">
    <div class="grid grid-cols-3 space-x-6 space-y-6">
    <Stat
      label="Amounts"
      value={`${numeral(data.min_loan_amount).format('($ 0.00 a)')} to ${numeral(data.max_loan_amount).format('($ 0.00 a)')}`}
    />
    <Stat
      label="Rates"
        value={`${numeral(data.min_interest_rate/100).format('0.00%')} to ${numeral(data.max_interest_rate/100).format('0%')}`}
    />
    <Stat
      label="LTV"
        value={`${numeral(data.max_loan_to_value/100).format('0%')}`}
    />
    <Stat
      label="Origination Fee"
      value={`${data.min_origination_fee} to ${data.max_origination_fee}`}
    />
   <Stat
      label="Term Length"
      value={`${data.min_term_length} to ${data.max_term_length} months`}
    />
  <Stat
      label="Closing"
      value={`${data.min_closing_time} to ${data.max_closing_time} days`}
    />
    </div>

    <StatContainer>
      <Stat
      label="Credit Check Required"
      footer={`${data.is_credit_check_required ? data.minimum_fico_score : ""}`}
      value={`${data.is_credit_check_required ? "yes" : "no"}`}
    /> 
      <Stat
      label="Will lend to a foreign national"
      value={`${data.is_foreign_national_allowed ? "yes" : "no"}`}
    />
    <Stat
      label="2nd Trust Deeds"
      value={`${data.is_2nd_trust_deed_allowed ? "yes" : "no"}`}
    />
    <Stat
      label="Allows Cross Collaterization"
      value={`${data.is_cross_collateralization_allowed ? "yes" : "no"}`}
    />
    </StatContainer>
</Section>
</Layout>
