---
import { Image } from "astro:assets";
import * as prismic from "@prismicio/client";
import { profiles } from "../../prismic.js";
import Layout from "../../components/Layout.astro";
import Section from "../../components/Section.astro";
import Stat from "../../components/Stat.astro";
import StatContainer from "../../components/StatContainer.astro";
import PropertyTypes from "../../components/PropertyTypes.astro";
import numeral from "numeral";
import generateSrcSets from "../../utils/generateSrcSets.js";
import getImageUrlFromSize from "../../utils/getImageUrlFromSize.js";

export async function getStaticPaths() {
  return profiles.map((profile) => {
    return { params: { slug: profile.uid }, props: { profile } };
  });
}

const {
  profile: { data },
} = Astro.props;

const intro = prismic.asHTML(data.description, (doc) => {
  return getUrl(doc.id);
});

const image = data.logo;
const srcSets =
  !!image &&
  !!image.url &&
  generateSrcSets(
    image.url,
    [
      { w: 400, h: 400 },
      { w: 300, h: 300 },
      { w: 200, h: 200 },
      { w: 150, h: 150 },
      { w: 100, h: 100 },
    ],
    true,
  );

function formatMoneyAbbrev(n) {
  // use abbreviation for 1,000 and above, otherwise show usual amount
  const abs = Math.abs(n);
  const pattern = abs >= 1000 ? "0,0.00a" : "0,0.00";
  return "$" + numeral(n).format(pattern);
}

function formatRange(min, max) {
  return `${formatMoneyAbbrev(min)} to ${formatMoneyAbbrev(max)}`;
}

const hasLicenses =
  !!data.licenses &&
  !!data.licenses.length &&
  data.licenses.some((license) => {
    return !!license.key && !!license.value;
  });
---

<Layout>
  <div class="w-full border-gray-200 border-b p-3 m-0 bg-gray-50">
    <div
      class="grid grid-cols-[162px_auto] mx-auto max-w-[1024px] px-6 w-full items-start"
    >
      {
        !!image && !!image.url && (
          <div class="w-[162px] h-[162px] m-0 border-gray-200 border">
            <Image
              alt={!!image.alt ? image.alt : ""}
              class="max-w-[160px]"
              loading="lazy"
              sizes="(max-width: 640px) 95vw, (min-width: 768px) 44vw, (min-width: 1252px) 552px"
              src={getImageUrlFromSize(image.url, 576, 432, true)}
              srcSet={srcSets}
              width="300"
              height="300"
            />
          </div>
        )
      }

      <div class="p-3">
        <h1 class="!text-3xl">
          {data.name}
        </h1>
        <div class="text-base">
          {!!data.city && !!data.state ? `${data.city}, ${data.state}` : null}
        </div>
        {
          !!hasLicenses ? (
            <div class="text-base">
              {data.licenses.map((license, index) => {
                return `${license.key} ${license.value}${index < data.licenses.length - 1 ? ", " : ""}`;
              })}
            </div>
          ) : null
        }
      </div>
    </div>
  </div>
  <Section title={data.headline}>
    <Fragment set:html={intro} />
  </Section>
  <Section title="Before You Apply">
    <div class="grid grid-cols-2 gap-9">
      <div class="card">
        <h3>What We Fund</h3>
        {
          data.positive_considerations.map((item) => {
            return <li>{item.item}</li>;
          })
        }
      </div>
      <div class="card">
        <h3>What We Don't Fund</h3>
        {
          data.negative_considerations.map((item) => {
            return <li>{item.item}</li>;
          })
        }
      </div>
    </div>
  </Section>

  <Section title="Lending Guidelines">
    <div class="grid grid-cols-3 space-x-6 space-y-6">
      <Stat
        label="Amounts"
        value={formatRange(data.min_loan_amount, data.max_loan_amount)}
      />
      <Stat
        label="Rates"
        value={`${numeral(data.min_interest_rate / 100).format("0.00%")} to ${numeral(data.max_interest_rate / 100).format("0%")}`}
      />
      <Stat
        label="LTV"
        value={`${numeral(data.max_loan_to_value / 100).format("0%")}`}
      />
      <Stat
        label="Origination Fee"
        value={`${data.min_origination_fee} to ${data.max_origination_fee}`}
      />
      <Stat
        label="Term Length"
        value={`${data.min_term_length} to ${data.max_term_length} months`}
      />
      <Stat
        label="Closing"
        value={`${data.min_closing_time} to ${data.max_closing_time} days`}
      />
    </div>
    <StatContainer>
      <Stat
        label="Credit Check Required"
        footer={`${data.is_credit_check_required ? data.minimum_fico_score : ""}`}
        value={`${data.is_credit_check_required ? "yes" : "no"}`}
      />
      <Stat
        label="Will lend to a foreign national"
        value={`${data.is_foreign_national_allowed ? "yes" : "no"}`}
      />
      <Stat
        label="2nd Trust Deeds"
        value={`${data.is_2nd_trust_deed_allowed ? "yes" : "no"}`}
      />
      <Stat
        label="Allows Cross Collaterization"
        value={`${data.is_cross_collateralization_allowed ? "yes" : "no"}`}
      />
    </StatContainer>
  </Section>
  {
    !!data.residential_property_types &&
    !!data.residential_property_types.length ? (
      <Section title="Property Types">
        <StatContainer>
          <PropertyTypes
            items={data.residential_property_types}
            title="Residential"
          />
        </StatContainer>
      </Section>
    ) : null
  }
  <Section>
    <h3>Why Borrowers Choose This Lender</h3>

    {
      data.best_features.map((f) => {
        return <li>{f.feature}</li>;
      })
    }
  </Section>
</Layout>
