---
const {
  href,
  variant = "solid", // solid | outline
  size = "md", // sm | md | lg
  type = "button",
  extraClass = "",
  ...rest
} = Astro.props;

const base =
  "inline-flex cursor-pointer items-center justify-center rounded-md font-medium transition " +
  "focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2";

const variants = {
  solid: "bg-accent-dark !text-white hover:bg-accent-darker",
  outline:
    "border border-accent-dark text-accent-dark hover:bg-accent-dark hover:!text-white",
};

const sizes = {
  sm: "px-3 py-1.5 text-sm",
  md: "px-4 py-2 text-sm",
  lg: "px-6 py-3 text-base",
};
const classes = `${base} ${variants[variant]} ${sizes[size]} ${extraClass}`;
---

{
  href ? (
    <a href={href} class={classes} {...rest}>
      <slot />
    </a>
  ) : (
    <button type={type} class={classes} {...rest}>
      <slot />
    </button>
  )
}
