---
import "../styles/global.css";
import Section from "../components/Section.astro";
import FooterMenu from "../components/FooterMenu.astro";
import { globalSettings } from "../hypgrah.js";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/roboto";

const {
  metaDescription = "MoolahList connects investors and borrowers with direct hard money and lenders nationwide. Find fast funding for investment properties, fix-and-flip projects, rentals, and more.",
  metaTitle = "Moolah List - Private Lending Marketplace",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MoolahList</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="min-h-screen flex flex-col w-full min-w-screen">
    <div class="w-full mx-0 mt-3 mb-0 border-b border-gray-200 p-3">
      <a href="/"
        ><img
          class="mx-auto"
          alt="MoolahList.com logo"
          src="/images/logo.png"
          width="150"
          class="m-3"
        /></a
      >
    </div>
    <div>
      <slot />
    </div>
    <div class="mx-auto border-t border-gray-200 w-full mt-16">
      <div
        class="mx-auto max-w-desktop grid grid-cols-2 md:grid-cols-[1fr_1fr_1fr_1fr] pt-4 px-5 lg:px-0"
      >
        <FooterMenu
          orderClass="order-1"
          items={globalSettings.footerLinks1}
          title={globalSettings.footerLinks1Title}
        />
        <!--FooterMenu
          orderClass="order-2"
          items={globalSettings.footerLinks2}
          title={globalSettings.footerLinks2Title}
        /-->
        <FooterMenu
          orderClass="order-3"
          items={globalSettings.footerLinks3}
          title={globalSettings.footerLinks3Title}
        />
        <!--FooterMenu
          orderClass="order-4"
          items={globalSettings.footerLinks4}
          title={globalSettings.footerLinks4Title}
        /-->
      </div>
      <div class="text-center text-sm mb-3">CA DRE Broker Lic. #02057741</div>
    </div>
  </body>
</html>
