---
import { Image } from "astro:assets";
import { getLenderProfileFromSlug, getUrlFromSlug } from "../hypgrah.js";
import { LENDING_RATIOS_SHORTHAND } from "../constants/enums.js";
const { slug, loanType } = Astro.props;
import {
  formatAmount,
  formatInterestRate,
  formatLTV,
  formatTerm,
} from "../utils/formatNumbers.js";
import Tr from "./Tr.astro";
import Button from "./Button.astro";
import FancyList from "./FancyList.astro";

import { hasArrayWithStrings } from "../utils/array.js";

const profile = getLenderProfileFromSlug(slug);

const program = profile.loanPrograms.filter((p) => {
  return p.loanType === loanType;
})[0];

const hasNegativeConsiderations = hasArrayWithStrings(
  profile.negativeConsiderations,
);

const hasPositiveConsiderations = hasArrayWithStrings(
  profile.positiveConsiderations,
);

const url = getUrlFromSlug(profile.slug);
---

<div class="block">
  {
    !!profile.bestForTagline ? (
      <b class="bg-primary-dark inline-block px-3 py-[2px] rounded-t-xl text-2sm font-medium font-sans !mb-0 !text-white">
        {profile.bestForTagline}
      </b>
    ) : null
  }
  <div class="card relative">
    <div class="bg-primary-light h-16 absolute top-0 w-full left-0 z-10"></div>
    <div class="grid grid-cols-[162px_1fr] gap-9 z-20 relative">
      {
        !!profile.logo && !!profile.logo.url ? (
          <div class="w-[50px] h-[50px] md:w-[162px] md:h-[162px] m-0 border-gray-200 border">
            <Image
              alt={`${profile.name} Logo`}
              class="w-full h-full max-w-[160px] bg-white shadow-md"
              densities={[1.5, 2]}
              loading="lazy"
              src={profile.logo.url}
              widths={[100, 200, 300, 400]}
              sizes="(max-width: 640px) 100px, (max-width: 768px) 150px, (max-width: 1024px) 200px, 400px"
              width={200}
              height={200}
            />
          </div>
        ) : null
      }
      <div>
        <h3 class="!text-lg">{profile.name}</h3>
        <div class="grid grid-cols-[1fr_200px]">
          <div>
            {
              !!program ? (
                <table class="lender-card-specs font-serif font-medium">
                  <tbody>
                    <Tr
                      name={
                        LENDING_RATIOS_SHORTHAND[program.lendingRatios[0].type]
                      }
                      value={formatLTV(program.lendingRatios[0].value)}
                      condition={!!program.lendingRatios[0]}
                    />
                    <Tr
                      name="Rate"
                      value={formatInterestRate(
                        program.interestRateMin,
                        program.interestRateMax,
                      )}
                      condition={!!program.interestRateMin}
                    />
                    <Tr
                      name="Term"
                      value={formatTerm(
                        program.termLengthMin,
                        program.termLengthMax,
                      )}
                      condition={
                        !!program.termLengthMin || !!program.termLengthMax
                      }
                    />
                    <Tr
                      name="Amount"
                      value={formatAmount(
                        program.loanAmountMin,
                        program.loanAmountMax,
                      )}
                      condition={
                        !!program.loanAmountMin || !!program.loanAmountMax
                      }
                    />
                  </tbody>
                </table>
              ) : null
            }
          </div>
          <div class="flex justify-center items-start mt-6">
            <Button href={url}>View Lender</Button>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t-gray-200 border-t border-solid w-full text-2md">
      <details class="read-more-text">
        <summary
          class="text-right cursor-pointer select-none uppercase !text-accent-dark text-sm font-medium mt-4"
        >
          Read more
        </summary>
        <h6 class="mt-6">Why We Picked This</h6>
        {profile.whyWePickedThis}

        {
          !!hasPositiveConsiderations || !!hasNegativeConsiderations ? (
            <div class="grid grid-cols-2  gap-9 mt-9">
              {hasPositiveConsiderations && (
                <div class="grid grid-cols-1">
                  <h6 class="">Funds</h6>
                  <div class="ml-3">
                    <FancyList
                      data={profile.positiveConsiderations}
                      icon="checkmark"
                    />
                  </div>
                </div>
              )}
              {hasNegativeConsiderations && (
                <div class="grid grid-cols-1">
                  <b class="block">Does Not Fund</b>
                  <div class="ml-3">
                    <FancyList
                      data={profile.negativeConsiderations}
                      icon="crossmark"
                    />
                  </div>
                </div>
              )}
            </div>
          ) : null
        }

        {
          !!program ? (
            <div class="grid mt-9">
              <div>
                <b>Term Length</b>

                <ul>
                  <li>
                    {formatTerm(program.termLengthMin, program.termLengthMax)}
                  </li>
                </ul>
              </div>
              <div>
                <b>Origination Fee</b>
                <ul>
                  <li>
                    {program.originationFeeMin} to {program.originationFeeMax}{" "}
                    points
                  </li>
                </ul>
              </div>
              <div>
                <b>Time to Close</b>
                <ul>
                  <li>
                    {program.closingTimeMin} to {program.closingTimeMax} days
                  </li>
                </ul>
              </div>
            </div>
          ) : null
        }
        <div class="flex justify-end">
          <a href={url} class="text-sm">See full profile »</a>
        </div>
      </details>
    </div>
  </div>
</div>
