---
import Modal from "./Modal.astro";
import {
  formatAmount,
  formatInterestRate,
  formatLTV,
  formatTerm,
} from "../utils/formatNumbers.js";
import {
  BORROWER_PROFILE,
  LOAN_PROFILE,
  PROPERTY_PROFILE,
  LOAN_TYPES,
  PAYMENT_OPTIONS,
  PAYMENT_STRUCTURE,
  PROPERTY_TYPES,
  LENDING_RATIOS,
} from "../constants/enums.js";
import Tr from "./Tr.astro";
const { id, program } = Astro.props;
---

<Modal className="max-w-4xl" id={id} title="">
  <table>
    <thead>
      <tr>
        <th colspan="2">Loan Program</th>
      </tr>
    </thead>
    <tbody>
      <tr class="flex flex-col md:flex-row">
        <td>Loan Type</td>
        <td>{LOAN_TYPES[program.loanType]} </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Property Types</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="!wrap !whitespace-normal !break-words"
          >{program.propertyTypes.map((t) => PROPERTY_TYPES[t]).join(", ")}</td
        >
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="2">Loan Economics</th>
      </tr>
    </thead>
    <tbody>
      <Tr
        name="Loan Amount"
        value={formatAmount(program.loanAmountMin, program.loanAmountMax)}
        condition={!!program.loanAmountMin || !!program.loanAmountMax}
      />
      <Tr
        name="Loan Term"
        value={formatTerm(program.termLengthMin, program.termLengthMax)}
        condition={!!program.termLengthMin || !!program.termLengthMax}
      />
      <Tr
        name="Interest Rate"
        value={formatInterestRate(
          program.interestRateMin,
          program.interestRateMax,
        )}
        condition={!!program.interestRateMin}
      />
      {
        program.lendingRatios.map((ratio) => {
          return (
            <Tr
              name={LENDING_RATIOS[ratio.type]}
              value={formatLTV(ratio.value)}
              condition={!!ratio.type && !!ratio.value}
            />
          );
        })
      }
      <Tr
        name="2nd Lien Position"
        value={program.is2ndPositionAllowed}
        condition={!!program.is2ndPositionAllowed}
      />
      <Tr
        name="2nd Lien Position Max CLTV"
        value={program["2nd_position_max_cltv"]}
        condition={!!program.is2ndPositionAllowed &&
          program["2nd_position_max_cltv"]}
      />
      <Tr
        name="Payment Structures"
        value={program.paymentStructure
          .map((structure) => {
            return PAYMENT_STRUCTURE[structure];
          })
          .join(", ")}
        condition={!!program.paymentStructure}
      />
      <Tr
        name="Payment Options"
        value={program.paymentOptions
          .map((structure) => {
            return PAYMENT_OPTIONS[structure];
          })
          .join(", ")}
        condition={!!program.paymentOptions?.length}
      />
    </tbody>
    <table>
      <thead>
        <tr>
          <th colspan="2">Loan Profile</th>
        </tr>
      </thead>
      <tbody>
        {
          program.loanProfile.map((item) => {
            if (!!item && !!item.choice) {
              return (
                <>
                  <Tr
                    name={LOAN_PROFILE[item.option]}
                    value={`${item.choice}${!!item.note && item.note != null ? " - " + item.note : ""}`}
                    condition={true}
                  />
                </>
              );
            }
          })
        }
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">Property Profile</th>
        </tr>
      </thead>
      <tbody>
        {
          program.propertyProfile.map((item) => {
            if (!!item && !!item.choice) {
              return (
                <>
                  <Tr
                    name={PROPERTY_PROFILE[item.option]}
                    value={item.choice}
                    condition={true}
                  />
                </>
              );
            }
          })
        }
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">Borrower Profile</th>
        </tr>
      </thead>
      <tbody>
        {
          program.borrowerProfile.map((item) => {
            if (!!item && !!item.choice) {
              return (
                <>
                  <Tr
                    name={BORROWER_PROFILE[item.option]}
                    value={item.choice}
                    condition={true}
                  />
                  <Tr
                    name="Min Fico Score"
                    value={item.ficoScoreMin}
                    condition={!!item.ficoScoreMin}
                  />
                </>
              );
            }
          })
        }
      </tbody>
    </table>
  </table>
</Modal>
