---
const { program } = Astro.props;
import {
  formatAmount,
  formatInterestRate,
  formatLTV,
  formatTerm,
} from "../utils/formatNumbers.js";
import numeral from "numeral";
import Button from "./Button.astro";
import { PROPERTY_TYPES } from "../constants/enums.js";

import LoanSpecs from "./LoanSpecs.astro";

import LoanProgramsStat from "./LoanProgramsStat.astro";
import Stat from "./Stat.astro";

const propertyTypes = [];

const loanToValue = !!program.loanToValueMax
  ? program.loanToValueMax
  : program.loanToCostMax;

const loanToValueLabel = !!program.loanToValueMax ? "LTV" : "LTC";
---

<div class="block p-12 border-solid border-gray-400 border-1">
  <div class="flex flex-row w-full justify-between">
    <div class="font-bold text-2xl"></div>
  </div>
  <h3 class="!mb-0">{program.title}</h3>
  <p class="mt-0">{program.bestFor}</p>
  <div class="grid grid-cols-4 gap-4">
    <LoanProgramsStat label={loanToValueLabel} stat={loanToValue} />
    <LoanProgramsStat
      label="Interest"
      stat={formatInterestRate(
        program.interestRateMin,
        program.interestRateMax,
      )}
    />
    <LoanProgramsStat
      label="Amounts"
      stat={formatAmount(program.loanAmountMin, program.loanAmountMax)}
    />
    <LoanProgramsStat
      label="Term"
      stat={formatTerm(program.termLengthMin, program.termLengthMax)}
    />
  </div>
  <h4 class="mt-6">Loan Guidelines</h4>
  <ul>
    <li>Funded in {program.closingTimeMin} to {program.closingTimeMax} days</li>
    <li>
      {program.originationFeeMin} to
      {program.originationFeeMax} origination points
    </li>
  </ul>
  <h4>Eligible Property Types</h4>
  <ul>
    {
      program.propertyTypes.map((item) => {
        return <li>{PROPERTY_TYPES[item]}</li>;
      })
    }
  </ul>
  <h4>Requirements</h4>
  <ul>
    {
      program.requirements.map((item) => {
        return <li>{item}</li>;
      })
    }
  </ul>
  <div class="flex justify-center gap-4 mt-16">
    <Button
      data-open-modal={program.loanType}
      extraClass="min-w-[200px]"
      href="#"
      variant="outline">See all loan specs</Button
    >
    <!-- Button extraClass="min-w-[200px]" href="#">Apply </Button-->
  </div>
</div>

<LoanSpecs program={program} id={program.loanType} />
