---
import Modal from "./Modal.astro";
import {
  formatAmount,
  formatInterestRate,
  formatLTV,
  formatTerm,
} from "../utils/formatNumbers.js";
import { PROPERTY_TYPES } from "../constants/enums.js";
import Tr from "./Tr.astro";

const { id, program } = Astro.props;
---

<Modal className="max-w-4xl" id={id} title="">
  <div class="rounded border border-gray-300 shadow-sm">
    <table>
      <thead>
        <tr style="background-color: #f3f3f3;">
          <th colspan="2">Loan Program</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Loan Type</td>
          <td>{program.loanType} - {program.title}</td>
        </tr>
      </tbody>
      <thead>
        <tr style="background-color: #f3f3f3;">
          <th colspan="2">Property Types</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"
            >{
              program.propertyTypes.map((t) => PROPERTY_TYPES[t]).join(", ")
            }</td
          >
        </tr>
      </tbody>
      <thead>
        <tr style="background-color: #f3f3f3;">
          <th colspan="3">Loan Economics</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Loan Amount</td>
          <td>{formatAmount(program.loanAmountMin, program.loanAmountMax)}</td>
        </tr>
        <tr>
          <td>Term</td>
          <td>{formatTerm(program.termLengthMin, program.termLengthMax)}</td>
        </tr>
        <Tr
          name="Interest Rate"
          value={formatInterestRate(
            program.interestRateMin,
            program.interestRateMax,
          )}
          condition={!!program.interestRateMin}
        />
        <Tr
          name="LTV"
          value={program.isInterestOnly}
          condition={!!program.isInterestOnly}
        />
        <Tr
          name="LTV"
          value={formatLTV(program.loanToValueMax)}
          condition={!!program.loanToCostMax}
        />
        <Tr
          name="LTC"
          value={formatLTV(program.loanToCostMax)}
          condition={!!program.loanToCostMax}
        />
        <Tr
          name="2nd Lien Position"
          value={program.is2ndPositionAllowed}
          condition={!!program.is2ndPositionAllowed}
        />
        <Tr
          name="2nd Lien Position Max CLTV"
          value={program["2nd_position_max_cltv"]}
          condition={!!program.is2ndPositionAllowed &&
            program["2nd_position_max_cltv"]}
        />
        <thead>
          <tr style="background-color: #f3f3f3;">
            <th colspan="2">Borrower Profile</th>
          </tr>
        </thead>
        <tbody>
          <Tr
            name="First-time Investor Allowed"
            value={program.is1stTimeInvestorAllowed}
            condition={!!program.is1stTimeInvestorAllowed}
          />
          <Tr
            name="Foreign National Allowed"
            value={program.isForeignNationalAllowed}
            condition={!!program.isForeignNationalAllowed}
          />
          <Tr
            name="Personal Guarantee Required"
            value={program.isPersonalGuaranteeRequired}
            condition={!!program.isPersonalGuaranteeRequired}
          />
          <tr>
            <td>Owner-Occupied Allowed</td>
            <td>{program.isOwnerOccupiedAllowed}</td>
          </tr>
        </tbody>
        <thead>
          <tr style="background-color: #f3f3f3;">
            <th colspan="2">Credit & Financials</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Credit Check Required</td>
            <td>{program.isCreditCheckRequired}</td>
          </tr>
          <Tr
            name="Minimum FICO Score"
            value={program.ficoScoreMin}
            condition={!!program.ficoScoreMin}
          />

          {
            !!program.isBankruptcyAllowed ? (
              <tr>
                <td>Bankruptcy Allowed</td>
                <td>{program.isBankruptcyAllowed}</td>
              </tr>
            ) : null
          }
          {
            !!program.isForeclosureAllowed ? (
              <tr>
                <td>Foreclosure Allowed</td>
                <td>{program.isForeclosureAllowed}</td>
              </tr>
            ) : null
          }
        </tbody>
      </tbody>
    </table>
  </div>
</Modal>
